.ace-eclipse .ace_editor {
  border: 2px solid rgb(159, 159, 159);
}

.ace-eclipse .ace_editor.ace_focus {
  border: 2px solid #327fbd;;
}

.ace-eclipse .ace_gutter {
  width: 40px;
  background: rgb(227, 227, 227);
  border-right: 1px solid rgb(159, 159, 159);	 
  color: rgb(136, 136, 136);
  font-family: Monaco, "Courier New";
  font-size: 11px;  
}

.ace-eclipse .ace_gutter-layer {
  right: 10px;
  text-align: right;
}

.ace-eclipse .ace_text-layer {
  font-family: Monaco, "Courier New", monospace;
  font-size: 11px;
  cursor: text;
}

.ace-eclipse .ace_cursor {
  border-left: 1px solid black;
}

.ace-eclipse .ace_line .ace_keyword, .ace-eclipse .ace_line .ace_variable {
  color: rgb(127, 0, 85);
}

.ace-eclipse .ace_line .ace_buildin-constant {
  color: rgb(88, 72, 246);
}

.ace-eclipse .ace_line .ace_library-constant {
  color: rgb(6, 150, 14);
}

.ace-eclipse .ace_line .ace_buildin-function {
  color: rgb(60, 76, 114);
}

.ace-eclipse .ace_line .ace_string {
  color: rgb(42, 0, 255);
}

.ace-eclipse .ace_line .ace_comment {
  color: rgb(63, 127, 95);
}

.ace-eclipse .ace_line .ace_doc-comment {
  color: rgb(63, 95, 191);
}

.ace-eclipse .ace_line .ace_doc-comment-tag {
  color: rgb(127, 159, 191);
}

.ace-eclipse .ace_line .ace_number {
}

.ace-eclipse .ace_line .ace_tag {
	color: rgb(63, 127, 127);
}

.ace-eclipse .ace_line .ace_attribute {
	color: rbg(127, 0, 127);
}

.ace-eclipse .ace_line .ace_attribute-value {
	font-style: italic;
	color: rbg(42, 0, 255);
}

.ace-eclipse .ace_line .ace_xml_pe {
  color: rgb(104, 104, 91);
}

.ace-eclipse .ace_marker-layer .ace_selection {
  background: rgb(181, 213, 255);
}

.ace-eclipse .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid rgb(192, 192, 192);
}

.ace-eclipse .ace_marker-layer .ace_active_line {
  background: rgb(232, 242, 254);
}