.ace-tm .ace_editor {
  border: 2px solid rgb(159, 159, 159);
  font-family: "Menlo", "Monaco", "Courier New", "Courier", monospace;
  font-size: 11px;  
}

.ace-tm .ace_editor.ace_focus {
  border: 2px solid #327fbd;;
}

.ace-tm .ace_gutter {
  width: 50px;
  background: #e8e8e8;
  color: #333;
  font-family: "Menlo", "Monaco", "Courier New", monospace;
  font-size: 11px;
  overflow : hidden;
}

.ace-tm .ace_gutter-layer {
  right: 0px;
  text-align: right;
}

.ace-tm .ace_gutter-layer .ace_gutter-cell {
  padding-right: 15px;
}

.ace-tm .ace_editor .ace_printMargin {
  width: 1px;
  background: #e8e8e8;
}

.ace-tm .ace_text-layer {
  cursor: text;
}

.ace-tm .ace_cursor {
  border-left: 2px solid black;
}

.ace-tm .ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid black;
}
        
.ace-tm .ace_line .ace_invisible {
  color: rgb(191, 191, 191);
}

.ace-tm .ace_line .ace_keyword {
  color: blue;
}

.ace-tm .ace_line .ace_buildin-constant {
  color: rgb(88, 72, 246);
}

.ace-tm .ace_line .ace_library-constant {
  color: rgb(6, 150, 14);
}

.ace-tm .ace_line .ace_invalid {
  background-color: rgb(153, 0, 0);
  color: white;
}

.ace-tm .ace_line .ace_buildin-function {
  color: rgb(60, 76, 114);
}

.ace-tm .ace_line .ace_operator {
  color: rgb(104, 118, 135);
}

.ace-tm .ace_line .ace_string {
  color: rgb(3, 106, 7);
}

.ace-tm .ace_line .ace_comment {
  color: rgb(76, 136, 107);
}

.ace-tm .ace_line .ace_doc-comment {
  color: rgb(0, 102, 255);
}

.ace-tm .ace_line .ace_doc-comment-tag {
  color: rgb(128, 159, 191);
}

.ace-tm .ace_line .ace_number {
  color: rgb(0, 0, 205);
}

.ace-tm .ace_line .ace_variable {
  color: rgb(49, 132, 149);
}

.ace-tm .ace_line .ace_xml_pe {
  color: rgb(104, 104, 91);
}

.ace-tm .ace_marker-layer .ace_selection {
  background: rgb(181, 213, 255);
}

.ace-tm .ace_marker-layer .ace_step {
  background: rgb(198, 219, 174);
}

.ace-tm .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid rgb(192, 192, 192);
}

.ace-tm .ace_marker-layer .ace_active_line {
  background: rgb(232, 242, 254);
}